body{
  background-image: url('../../../public/fondo.png');
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

h1, h3{
  color: #fff;
  text-align: center;
}

.list{
  background-color: #80808061;
}

span:hover{
  font-size: 24px;
  text-decoration: underline;
  font-weight: bolder;
}

i:hover{
  color: black;
}