body {
  background-image: url("../../../public/fondo.png");
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

h1,
h3,
h4 {
  color: #fff;
  text-align: center;
  font-family: "Russo One", sans-serif;
}

.list {
  background-color: #80808061;
  font-weight: bold;
}

span:hover {
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: bolder;
}

.navBarLink:hover {
  font-size: 1.25rem;
  text-decoration: underline;
}

.links {
  font-family: "Russo One", sans-serif;
}

.favorite {
  cursor: pointer;
}

.favorite:hover {
  color: black;
  text-decoration: underline;
}
